body.respiro-navbar {
	margin-top: 50px;
}

#rodape-pagina {
	border-top: 1px solid #CCCCCC;
	margin-top: 30px;
	padding: 30px 0 10px 0;
}

.text-columns-xs {
	column-width: 50px;
	-moz-column-width: 50px;
	-webkit-column-width: 50px;
}

.text-columns-sm {
	column-width: 100px;
	-moz-column-width: 100px;
	-webkit-column-width: 100px;
}

.text-columns-md {
	column-width: 150px;
	-moz-column-width: 150px;
	-webkit-column-width: 150px;
}

.text-columns-lg {
	column-width: 200px;
	-moz-column-width: 200px;
	-webkit-column-width: 200px;
}

.glyphicon-formula:before {
	content: '√';
	font-weight: bold;
}

.glyphicon-acessibilidade:before {
	content: '♿';
}

.glyphicon-circulo:before {
	content: '◯';
	vertical-align: text-top;
	font-weight: bolder;
}
.glyphicon-retangulo:before {
	content: '▭';
	vertical-align: text-top;
	font-weight: bolder;
}
.glyphicon-poligono:before {
	content: '⬠';
	vertical-align: text-top;
	font-weight: bolder;
}

.margem-inferior {
	margin-bottom: 30px;
}
.margem-superior {
	margin-top: 30px;
}
.margem-direita {
	margin-right: 30px;
}
.margem-esquerda {
	margin-left: 30px;
}

.rolagem {
	background-color: #FFF;
	border: 1px inset #CCC;
	padding: 20px;
	height: 200px;
	overflow: auto;
}

@-moz-document url-prefix() {
	fieldset { display: table-cell; }
}