# Arquivos do composer
composer.lock
composer.phar

# Arquivos minificados
*.min.css
*.min.js

# Arquivos unificados
htdocs/css/tb.css
htdocs/js/tb.js

# Arquivos da aplicacaog
application/segredo.php
application/vendor/
application/logs/
application/cache/
