.dados-regiao {
	background-color: #FFFFFF;
}
.dados-regiao.regiao-alteracao {
	background-color: #FFFF00;
}
.dados-regiao.ui-sortable-helper {
	border: 1px solid #CCCCCC !important;
}
.area-nome-regiao {
	overflow: hidden;
	text-overflow: ellipsis;
}
.nome-regiao {
	line-height: 2em;
	white-space: nowrap;
}
.panel-lista-regioes .panel-body {
	padding: 10px 0;
}
#cor-selecao {
	min-height: 30px;
	width: 100%;
}