/**
 * Estilos da página principal
 */

.icone-grande {
	background-color: #F5F5F5;
	border-radius: 20px;
	display: block;
	margin: 20px 0;
	padding: 20px;
	text-align: center;
	transition: all 1s;
}

.icone-grande .glyphicon {
	color: #303030;
	font-size: 50px;
}

.icone-grande span {
	color: #303030;
	display: block;
	font-weight: bold;
	margin-top: 10px;
	text-decoration: none;
}

.icone-grande:hover,
.icone-grande:active,
.icone-grande:focus {
	background-color: #FFFF00;
	text-decoration: none;
	transition: all 0.5s;
}

@media (min-width: 992px) {
	.icone-grande .glyphicon {
		font-size: 150px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.icone-grande .glyphicon {
		font-size: 100px;
	}
}