RewriteEngine On

# Usar versao original de JS/CSS se a minificada nao existir
RewriteCond %{REQUEST_URI} ^(.+)\.min\.(.+)$
RewriteCond %{DOCUMENT_ROOT}/%1.min.%2 !-f
RewriteRule ^(.+)\.min\.(.+)$ %1.%2 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule .* index.php/$0 [PT]
