<IfModule mod_expires.c>
	ExpiresActive On
	ExpiresByType image/gif "access plus 1 month"
	ExpiresByType image/jpeg "access plus 1 month"
	ExpiresByType image/png "access plus 1 month"
	ExpiresByType text/css "access plus 1 month"
	ExpiresByType text/javascript "access plus 1 month"
</IfModule>

<IfModule mod_rewrite.c>
	RewriteEngine On

	# Usar versao original de JS/CSS se a minificada nao existir
	RewriteCond %{REQUEST_URI} ^(.+)\.min\.(.+)$
	RewriteCond %{DOCUMENT_ROOT}/%1.min.%2 !-f
	RewriteRule ^(.+)\.min\.(.+)$ %1.%2 [L]

	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule .* index.php/$0 [PT]
</IfModule>
