.regiao {
	padding: 10px;
}
.regiao.ativa {
	background-color: #FFFF00;
}

#regioes .panel-body {
	max-height: 300px;
	overflow: auto;
	padding: 0;
}

#imagem {
	transition: width 0.5s, height 0.5s;
}